<%- include('partials/header') %>


<div class="container-fluid" style="position: absolute; top: 15%;">
   <header style="margin-left: 69%;">
      <p>
         <form action="/camps" method="GET" class="form-inline">
            <div class="form-group">
               <input type="text" name="search" placeholder="Search" class="form-control">
               <input type="submit" value="Search" class="btn btn-info ml-4">
            </div>
         </form>
      </p>
   </header>
   <div class="container">
   <div class="row text-center" style="display: flex; flex-wrap: wrap">
      <% if(noMatch !== null) { %> 
         <div class="col-md-12">
           <h3><%= noMatch %></h3>
         </div>
      <% } %>
      <% camps.forEach((camp) => { %>
         
         <div class="col-md-4 col-sm-6 mb-4">
            
            <a href="/camps/<%= camp._id %>" id="card-link">
               
            <div class="card shadow text-white" style="width: 330px; height: 360px;" id="card">
               
               <div class="img card-img" style="background-image: url('<%= camp.imageUrl %>'); width: 100%;">
                  
               </div>
               <div class="card-img-overlay" style="text-align: center;">
                  
                 <h2 class="card-title" style="position: relative;top: 80%;"><%= camp.name %></h2>
                 <h5 class="card-text" style="position: relative;top: 80%;"><%= camp.state %></h5>
                 <% if(currentUser && camp.author.id.equals(currentUser._id)) { %>
                  <h4 style="color: rgb(224, 211, 30);"><strong>Submitted by YOU</strong></h4>
               <% } %>
                 
               </div>
             </div>
             </a>
         </div>
      <% }) %>
   </div>

</div>
</div>

<%- include('partials/footer') %>