<%- include('partials/header') %>



<div style="margin-top: 80px;">
    <div class="container">
        <div class="card mb-3" style="width: 100%;">
            <img class="card-img-top img-responsive" src="<%= camp.imageUrl %>" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><%= camp.name %>-<%= camp.state %></h3>
                <div>
                    
                    <% if(currentUser && camp.author.id.equals(currentUser._id)) { %>
                        <a href="/camps/<%= camp._id %>/edit" class="btn btn-secondary">Edit</a>
                        <a href="/camps/<%= camp._id %>/delete" class="btn btn-danger" >Delete</a>
                        
                    <% } %>
                    <p class="text-muted text-right" style="font-size: 1rem;" style="margin-bottom: 30px;">  Submitted by <strong><%= camp.author.username %></strong></p>
                </div>
            </div>
            
        </div>
        
        <hr>

        <p class="lead""><%= camp.description %></p>
        <hr>
        <div class="section">
            <h2>Comments</h2>
            <form action="/camps/<%= camp._id %>" method="post">
                <input type="text" name="comment" placeholder="Write a comment.." class="form-control" style="width: 80%; display: inline;" autocomplete="off">
                <button class="btn btn-info" style="margin-left: 40px; margin-bottom: 10px">Add Comment</button>
            </form>

            <hr>
            <div class="row">
                
                <div class="col-md-12">

                    <% camp.comments.forEach((comment) => { %>
                        <h5 style="display: inline;"><strong><%= comment.author.username %></strong></h5>
                        <span style="margin-left:85%;font-size: 1rem;">10 days ago</span>
                        <div style="font-size: 1.3rem;" style="display: inline;">
                            <p style="display:inline"><%= comment.text %></p>
                            
                                <!-- <a href="/camps/<%= camp._id %>/comments/edit" class="btn btn-secondary" style="margin-left: 10%;">Edit</a> -->
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>                                 
                                <a href="/camps/<%= camp._id %>/comments/<%= comment._id %>/delete" class="btn btn-danger" >Delete</a>
                            <% } %>
                            
                        </div>
                        
                        <hr>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container"> -->
        <!-- <p class="lead""><%= camp.description %></p>
        <hr>
        <h2>Comments</h2>
        <form action="/camps/<%= camp._id %>" method="post">
            <input type="text" name="comment" placeholder="Write a comment.." class="form-control" style="width: 80%; display: inline;">
            <button class="btn btn-info" style="margin-left: 40px; margin-bottom: 10px">Add Comment</button>
        </form>
        

        <% camp.comments.forEach((comment) => { %>
            <div style="font-size: 1.3rem;"><%= comment.text %></div>
        <% }) %> -->
    <!-- </div> -->
</div>

<%- include('partials/footer') %>